body{
    font-family: sans-serif;
}
.top{
    background-color:  #bacedb;
    color: white;
    padding: 0.5dvi 0 0.5dvi 0;
    margin-top: -0.08dvi;
    font-size: 3dvi; 
}
.box{
    margin:0 40dvi 0 40dvi;
    border:rgb(255, 255, 255) solid;
    background-color: #bacedb;
    border-radius: 1dvi;
    
}
.ab{
    margin-left: 1dvi;
    font-size: 1.4dvi;
}
.ad{
    margin-top: 0.6dvi;
}
.enter{
    margin-left: 1dvi;
    margin-top: -0.5dvi;
    font-size: 1dvi;
     /* padding: 0.5dvi 4.5dvi 0.5dvi 0;  */
    border-radius: 0.3dvi;
    color: #bacedb;
    width: 16dvi;
    height: 2dvi;
}
.btn{
    margin: 1.7dvi 1dvi 3.5dvi;
    padding: 0 1dvi;
    background-color: rgb(47, 129, 252);
    color: white;
    font-size: 1dvi;
    height: 2.5dvi;
    border-radius: 0.3dvi;
}
.big{
    margin-left: 33dvi;
    display: none;
}
.input{
    width: 33dvi;
    height: 2dvi;
    color: white;
    background-color: #bacedb;
    margin-top: -1dvi;
}
.sec{
    display: flex;
}
.fd{
    height: 1.7dvi;
    width: 8.9dvi;
    font-size: 1dvi;
}
.full{
    margin-left: 2.5dvi;
}

.last{
    background-color: blue;
    margin-left: 33dvi;
    margin-right: 33dvi;
    padding-bottom: 0.5dvi;
    border-radius: 1dvi;
    display: flex;
    color: white;
}

/* .total{
    color: white;
    padding: 1dvi 1dvi 0;
}
.exp{
    color: wheat;
    padding-left: 15dvi;
    margin-top: -4.4dvi;
}
.bala{
    color: wheat;
    padding-left: 28dvi;
    margin-top: -4dvi; */


.blast{
    background-color: blue;
    margin-left: 0dvi;
    margin-right: 33dvi;
    padding-bottom: 2.5dvi;
    border-radius: 1dvi;
    margin-top: 1dvi;
    padding-top: 1dvi;
}
   
#da{
    color: white;
    margin-left: 1dvi;
    font-size: 1dvi;
}
#val{
    color: white;
    margin-left: 18dvi;
    font-size: 1dvi;
}
.btnt{
    margin: 1.7dvi 25dvi 0.5dvi;
    padding: 0 1dvi;
    background-color: rgb(47, 129, 252);
    color: white;
    font-size: 1dvi;
    height: 2.5dvi;
    border-radius: 0.3dvi;
}
#tot   {
    margin-top: 3dvi;
    font-size: 1dvi;
    margin-left: -4dvi;
}
#bal {
    margin-left: -2.2dvi;
    margin-top: 3dvi;
    font-size: 1dvi;
}
#ex{
    margin-left: -3dvi;
    margin-top: 3dvi;
    font-size: 1dvi;
}
.exp , .bala{
    margin-left: 9dvi;
    font-size: 1dvi;
}
.total{
    font-size: 1dvi;
    margin-left: 1.5dvi;
}


.wh{
    background-color: white;
    margin-left: 1dvi;
    margin-right: 1dvi;
    border-radius: 1dvi;
    padding-bottom: 1dvi;
    display: none; 
}


.whi{
    background-color: white;
    margin-left: 1dvi;
    margin-right: 1dvi;
    border-radius: 1dvi;
    padding-bottom: 1dvi;
    display: none;
}
.whit{
    background-color: white;
    margin-left: 1dvi;
    margin-right: 1dvi;
    border-radius: 1dvi;
    padding-bottom: 1dvi;
    display: none;
}
.white{
    background-color: white;
    margin-left: 1dvi;
    margin-right: 1dvi;
    border-radius: 1dvi;
    padding-bottom: 1dvi;
    display: none;
}
.re{
    padding-top: 1dvi;
    padding-left: 5dvi;
}
.my{
    margin-top: -1dvi;
    padding-left: 5dvi;
}
.hi{
    margin-left: 19dvi;
    margin-top: -2.7dvi;
}

.fad {
    margin-left: 6dvi;
}
.fad1{
    margin-left: 5.7dvi;
}
.fad2{
    margin-left: 7.7dvi;
}
.fad3{
    margin-left: 9.7dvi;
}
.cj{
    display: none;
}

.small{
    font-size: 1dvi;
}
.bbt{
    font-size: 0.7dvi;
    height: 1.5dvi;
    width: 1.2dvi;
}
.dat{
    margin-left: 5dvi;
}
.bbt1{
    font-size: 0.7dvi;
    height: 1.5dvi;
    width: 4dvi;
}

.shaws{
    display: block;
}


